<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.locadorafilmes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_trab_taynah"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.LocacoesActivity" />
        <activity android:name=".activitys.FilmesActivity" />
        <activity
            android:name=".activitys.PreLocadosActivity"
            android:noHistory="true" />
        <activity android:name=".activitys.ConfirmacaoActivity" />
        <activity android:name=".activitys.CriarContaActivity" />
        <activity android:name=".activitys.AddClienteActivity" />
        <activity android:name=".activitys.AddTituloActivity"></activity>
    </application>

</manifest>